<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tjpuacm.pcregister.system.user.dao.SysUserRepository">
    <resultMap id="BaseResultMap" type="cn.tjpuacm.pcregister.system.user.po.SysUserPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="INTEGER"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="institute" property="institute" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="clazz" property="clazz" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_activate" property="isActivate" jdbcType="INTEGER"/>
        <result column="activation_code" property="activation_code" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="is_enable" property="isEnable" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, email, student_id, school, institute, major, clazz, real_name, phone, gmt_create, gmt_modified
    </sql>

    <sql id="Base_Insert_Column_List">
        email, student_id, school, institute, major, clazz, real_name, phone, is_activate, activation_code, gmt_create, gmt_modified
    </sql>

    <insert id="insertUser" parameterType="cn.tjpuacm.pcregister.system.user.po.SysUserPO">
        insert ignore into sys_user
        (<include refid="Base_Insert_Column_List"/>)
        values
        (#{email}, #{studentId}, #{school}, #{institute}, #{major}, #{clazz}, #{realName}, #{phone},
        0, #{activationCode}, now(), now())
    </insert>

    <select id="getUser" parameterType="cn.tjpuacm.pcregister.system.user.vo.SysUserVO"
            resultType="cn.tjpuacm.pcregister.system.user.po.SysUserPO">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where is_delete = 0 and is_enable = 1
        <if test="email != null">
            and email = #{email}
        </if>
        <if test="studentId != null">
            and student_id = #{studentId}
        </if>
        <if test="school != null">
            and school = #{school}
        </if>
        <if test="institute != null">
            and institute = #{institute}
        </if>
        <if test="major != null">
            and major = #{major}
        </if>
        <if test="clazz != null">
            and clazz = #{clazz}
        </if>
        <if test="realName != null">
            and real_name = #{realName}
        </if>
        <if test="phone != null">
            and phone = #{phone}
        </if>
        limit 1
    </select>

    <select id="getActivationCodeByStudentId" parameterType="java.lang.String"
            resultType="java.lang.String">
        select activation_code
        from sys_user
        where is_delete = 0
          and is_enable = 1
          and student_id = #{studentId}
        limit 1
    </select>

    <update id="updateUserByStudentId" parameterType="cn.tjpuacm.pcregister.system.user.po.SysUserPO">
        update sys_user set gmt_modified = now()
        <if test="email != null">
            , email = #{email}
        </if>
        <if test="school != null">
            , school = #{school}
        </if>
        <if test="institute != null">
            , institute = #{institute}
        </if>
        <if test="major != null">
            , major = #{major}
        </if>
        <if test="clazz != null">
            , clazz = #{clazz}
        </if>
        <if test="realName != null">
            , real_name = #{realName}
        </if>
        <if test="phone != null">
            , phone = #{phone}
        </if>
        <if test="isActivate != null">
            , is_activate = #{isActivate}
        </if>
        <if test="activationCode != null">
            , activation_Code = #{activationCode}
        </if>
        where student_id = #{studentId}
    </update>
</mapper>